/* tailwindcss config */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-urgent: #ef4444;
  --color-normal: #3b82f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: bisque;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

@layer utilities {
  .urgent {
    color: theme("colors.red.500");
  }

  .normal {
    color: theme("colors.blue.500");
  }
}
